.pulsing-circle {
    position: relative;
    width: 10px;
    height: 10px;
    /* Circle color */
    border-radius: 50%;
    z-index: 1;
    /* Ensure it's above other elements */
}

.pulsing-circle::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    /* Radar circle color and opacity */
    border-radius: 50%;
    animation: pulse 2s infinite;
    /* Pulse animation duration */
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}